{
  "extends": ["amex/prettier"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "ignorePatterns": ["**/__generated__/*.ts"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true }],
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"]}],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "import/extensions": ["error",{
      "ts": "never",
      "tsx": "never",
      "scss": "always",
      "json": "always"
    }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error"
  }
}
