.link-unstyled {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.font-weight-700 {
  font-weight: 700;
}

.font-size-32 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
