@import 'src/utils/utils';

.html {
  iframe {
    width: 100%;
  }
  img {
    width: 100%;
  }
  h1 {
    margin-top: map-get($spacers, 5);
  }
  h2,
  h3 {
    margin-top: map-get($spacers, 4);
  }
  h4,
  h5,
  h6 {
    margin-top: map-get($spacers, 3);
  }
}
