@import 'src/utils/utils';

.navItem {
  border-top: 5px solid $iwgb-dark-red;
  border-bottom: 5px solid $iwgb-dark-red;
  transition: border-bottom-color $transition;

  &:hover {
    border-bottom-color: $white;
  }
}
