@import 'src/utils/utils';

.nav {
  top: 0;
  z-index: $zindex-sticky;
}

.wordmark {
  height: 3.5rem;
}

.join {
  width: 8ch;

  &_en::after {
    content: 'Join';
  }

  &_es::after {
    content: 'Únete';
  }

  &:hover::after {
    content: '❤️';
  }
}
